<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact-list </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
        <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                            <% if (isAuthenticated) { %>
                        <li class="main-header__item"><a href="/contact">My Contacts</a></li>
                        <li class="main-header__item"><a class="active" href="/add-contact">Add Contatct</a></li>
                     
                        <li class="main-header__item">
                                <form action="/profile" method="post">
                                    <a class="active" href="/profile">My profile</a>
                                </form>
                            </li>
                        <li class="main-header__item">
                                <form action="/logout" method="post">
                                    <button type="submit">Logout</button>
                                </form>
                               
                            </li>
                            <% } %>
                            <% if (!isAuthenticated) { %>
                            <li class="main-header__item"><a class="active" href="/login">Login</a></li>
                            <li class="main-header__item"><a class="active" href="/signup">Sign Up</a></li>
                            <% } %>



                    </ul>
                </nav>
            </header>
            <main>
                    
                
                <table style="width:100%" class="grid">
                    <thead>


                        <tr>
                                        <th id="name">Name</th>
                                        <th id="email">Email</th> 
                                        <th id="nuumber">Mobile number</th>
                                        <th id="action">Action</th>
                                        <th id="action">Delete</th>
                                      </tr>
                    </thead> 
                    <tbody>
                            <% for(var i=0; i<prods.length; i++) {%>
                                    <tr style="text:center">
                                      <td contentEditable ="false"style="text-align :center" id="name<%= i %>"> <%= prods[i].name%> </td>
                                        <td  contentEditable ="false" style="text-align :center" id="email<%= i %>">  <%= prods[i].email%> </td>
                                        <td contentEditable ="false"style="text-align :center" id="number<%= i %>"> <%= prods[i].number%> </td>
            
                                             
                            <td style="text-align :center"><button id="edit<%= i %>" type="button" onclick="enabled(this.id)">Edit</td>
                                        <td style="text-align :center">
                                    
                                                <div class="card__actions">
                                                        <form action="/delete" method="POST">
                                                    <input type="hidden"value="<%= prods[i]._id %>" name="contactId">
                                                    <button class="btn" type="submit">Delete</button>
                                                </form>
                                               
                                               
                                            </div>
                                        </td>
                                    </tr>
                                 <% } %>
                    </tbody>       

                     </table>
                    
            
                
            </main>
<script>
    function enabled(data){
       // console.log('>>>>>>>>>>>>>',data)
        var j=data.slice(4);
        //console.log('<<<<<<<<<<<<<',j);
        document.getElementById(`name${j}`).setAttribute("contenteditable","true");
      document.getElementById(`email${j}`).setAttribute("contenteditable", "false");
      document.getElementById(`number${j}`).setAttribute("contenteditable", "true");
      document.getElementById(`name${j}`).focus();

      // oldemail = document.getElementById(`email${j}`).innerHTML;
      console.log('????????????????',document.getElementById(`edit${j}`).innerText='Update')
      document.getElementById(`edit${j}`).innerText='Update';
      document.getElementById(`edit${j}`).removeAttribute("onclick");
      document.getElementById(`edit${j}`).setAttribute("onclick","updateRow(this.id)");
    }

    function updateRow(id){
        var id = id.slice(4,5);
        var name = document.getElementById(`name${id}`).innerHTML;
        var number = document.getElementById(`number${id}`).innerHTML;
        var email = document.getElementById(`email${id}`).innerHTML;

        console.log("name number", name, number, email);
        axios.post('/update', {name : name, number : number, email : email})
        .then(function(updatedData){
                if(updatedData.status){
                    console.log("updateddddd", updatedData)
                    setInterval(function(){
                       window.location='/contact'
                    },1000)

                }
        })

    }
</script>

</body>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"> </script>                       

</html>