<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact-list </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
        <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                        <li class="main-header__item"><a href="/contact">My Contacts</a></li>
                        <li class="main-header__item"><a class="active" href="/add-contact">Add Contatct</a></li>
                        <li class="main-header__item"><a class="active" href="/login">Login</a></li>
                        <li class="main-header__item"><a class="active" href="/signup">Sign Up</a></li>


                    </ul>
                </nav>
            </header>
            <main>
                    
                    
                <table style="width:100%" class="grid">
                    <thead>


                        <tr>
                                        <th id="name">Name</th>
                                        <th id="email">Email</th> 
                                        <th id="nuumber">Mobile number</th>
                                        <th id="action">Action</th>
                                        <th id="action">Delete</th>
                                      </tr>
                    </thead> 
                    <tbody>
                            <% for(var i=0; i<prods.length; i++) {%>
                                    <tr  id= <%= `row${i}`%>  style="text:center">
                                      <td id= <%= `name${i}`%> style="text-align :center"> <%= prods[i].name%> </td>
                                        <td id=  <%= `email${i}`%>  style="text-align :center">  <%= prods[i].email%> </td>
                                        <td id= <%= `number${i}`%>  style="text-align :center"> <%= prods[i].number%> </td>
            
                                             
                                        <td style="text-align :center"> 
                                            <div class="card__actions">
                                                <a id =<%=`edit${i}`%> onclick = "editRow(this.id)" class="btn">Edit</a>
                               </div>
                                        </td>
                                        <td style="text-align :center">
                                    
                                                <div class="card__actions">
                                                        <form action="/update" method="POST">
                                                     <input type="hidden"  name="contactId">
                                                    <button class="btn" type="submit">Delete</button>
                                                </form>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                 <% } %>
                    </tbody>       

                     </table>
                    
            
                
            </main>
<script  src="js/edit.js" type="text/javascript" ></script>
</body>
</html>